<div class="modal-header">
    <h3 class="modal-title">Compose Mail</h3>
</div>
<div class="modal-body">
	<input class="new_mail_input" type="text" name ='new_name' ng-model='new_name' placeholder="To">
	<input class="new_mail_input" type="text" name ='new_subject' ng-model='new_subject' placeholder="Subject">
	<textarea id='new_message' class="new_mail_input" type="text" name ='new_message' ng-model='new_message' placeholder="Message"> </textarea>
</div>
<div class="modal-footer">
	<span id='send' ng-click="send_mail()">Send</span>
	<span id='cancel' ng-click = "close_modal()">Cancel</span>
</div>