body{
	margin:0;
	background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5);
	background: linear-gradient(to left, #00d2ff , #3a7bd5);
        
}
#main{
	margin:3%;
	background: rgba(255,255,255,0.5);
	padding:2% 1%;
	overflow: auto;
	box-shadow:0px 0px 20px rgba(0,0,0,.3);
}
.top_panel{
	padding:1% 0;
	border-bottom:2px solid rgba(255,255,255,0.4);
}
.top_panel_options{
	padding:10px 25px;
	background: rgba(255,255,255,0.5);
	font-family:Arial;
	font-size:15px;
	cursor: pointer;
}
.top_panel_options:hover{
	background: rgba(255,255,255,0.8);
}
.left_container{
	padding:1% 1% 1% 0;
	width:10%;
	float:left;
	border-right:2px solid rgba(255,255,255,0.5);
}
.right_container{
	padding:1%;
	width:80%;
	float:left;
}
.menu_options, .mails{
	padding:10px 20px;
}
.mails{
	cursor: pointer;
}
.menu_options:hover, .mails:hover{
	background: rgba(255,255,255,0.3);
	transition : 300ms;
}
#no_mails{
	width:100%;
	text-align:center;
}
.sender{
	display:inline-block;
	min-width : 200px;
	font-weight: bold;
}
.subject{
}
.text{
	color:#555555;
}
.menu_options a{
	text-decoration:none;
	color:black;
	display:inline-block;
	width:100%;
}
.my_modal{
	background:rgba(255,255,255,.9);
	position:absolute;
	width:40%;
	min-height: 200px;
	padding:2%;
	margin:auto;
	top:20%;
	left:0;
	right:0;
}
.my_modal span, #compose_mail_modal input, #compose_mail_modal textarea, .new_mail_input{
	display:block;
	padding:10px 20px;
}
.my_modal #close{
	float:right;
	margin:-4%;
	cursor:pointer;
	font-family:Arial;
	color:grey;
	font-weight: bold;
}
.my_modal #close:hover{
	color:black;
}
#mail_info_table{
	margin:3% 0;
	width:100%;
}
#mail_info_table th{
	padding:10px;
	max-width:50px;
}
#compose_mail_my_modal{
	width:60%;
	padding:5%;
}
#compose_mail_modal input, #compose_mail_modal textarea,.new_mail_input{
	background: transparent;
	width:80%;
	margin:0 0 3% 5%; 
	border:0;
	border-bottom:2px solid #999999;
	font-size:15px;
}
#compose_mail_modal textarea, #new_message{
	min-height:150px;
}
#compose_mail_modal input:focus, #compose_mail_modal textarea:focus, .new_mail_input:focus{
	outline: none;
	border-bottom:2px solid rgba(0,100,200,0.9);
	transition: 300ms;
}
.buttons_container{
	position: absolute;
	margin:auto;
	bottom:0;
	right:0;
	padding:10px;
}
#send, #cancel{
	padding:8px 20px;
	cursor:pointer;
	display:inline-block;
	color:white;
	font-family:Arial;
	border-radius: 3px;
}
#send{
	background:rgba(0,100,200,0.9);
}
#cancel{
	background:rgba(255,0,0,0.9);
}