body{
	margin:0;
}
.top_panel{
	background:white;
	display:flex;
	align-items:center;
	justify-content: space-between;
	position:fixed;
	box-shadow:0px 0px 5px grey;
	z-index:10;
}
.panel_items{
	padding:10px 15px 10px 15px;
	display: inline;
}
#logo{
	width:2%;
}
#logo_image{
	width:100%;
}
.panel_links{
	text-decoration : none;
	color:#555555;
	font-family:Montserrat;
	border: 4px solid transparent;
	padding-bottom:5px;
}
.panel_links:hover{
	border-bottom-color:gold;
	transition: 800ms;
}
#banner{
	width:100%;
	height:700px;
	background: url('image.jpg') no-repeat 100% 100%;
	background-size:100% auto;
}
.container{
	padding:10% 12% 10% 12%;
	display:flex;
	align-content: center;
	justify-content: space-around;
	font-family:Montserrat;
}
#aboutus{
	background: #eeeeee;
}
#expertise, #features{
	background: white;
}
.left_container{
	width:40%;
}
.right_container{
	width:60%;
	text-align: justify;
}
.container_heading{
	font-size:50px;
}
.underline_characters{
	padding-bottom:10px;
	border-bottom:5px solid gold;
}
.right_container_text{
	color:#777777;
	line-height:2;
}
#expertise_right_container{
	margin-top:15%;
}
.progress_bar_container{
	margin-top:25%;
	width:90%;
}
.progress_bar{
	width:100%;
	margin-top:5%;
}
.progress_bar_1,.progress_bar_2{
	border-radius:2px;
	height:4px;
	display: inline-block;
}
.progress_bar_1{
	background:#333333;
}
.progress_bar_2{
	background:#cccccc;
}
.progress_bar_name,.progress_bar_value{
	color:#555555;
}
.progress_bar_value{
	float:right;
}
#features{
	padding:0 5% 10% 5%;
}
.features_container{
	width:25%;
}
.features_left_container{
	width:15%;
	float:left;
	margin-right:10%;
}
.features_right_container{
	width:75%;
	float:left;
}
.feature_image{
	width:100%;
}
.feature_heading,.feature_details{
	color:#777777;
	display:block;
	margin-bottom:5%;
}
.feature_heading{
	color: #555555;
	font-size:20px;
}
.feature_details{
	line-height:1.5;
	text-align:justify;
}
#magic{
	padding:0;
}
.magic_image{
	width:50%;
	height:800px;
	background:url('jl.jpg') no-repeat 75% 0;
}
.magic_right_container{
	width:50%;
	padding:0;
	background:#eeeeee;
}
.magic_right_container .left_container{
	width:auto;
	margin:15%;
}
.magic_right_container .left_container .underline_characters{
	padding-bottom:15%;
}
.magic_right_container .right_container{
	margin:15%;
	padding-top:5%;
	width:auto;
}
#portfolio{
	padding:1% 0 0 0;
	display:block;
}
#portfolio .top_panel{
	margin:10%;
	position:relative;
	box-shadow: none;
	z-index:0;
}
.products_container{
	width: 100%;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.product{
	width: 24%;
    height: 300px;
    background: #eeeeee;
    margin: 5px;
    float: left;
    display:flex;
	align-items: center;
	justify-content: center;
}
.product:hover {
	background: #555555;
	transition: 500ms;
}
.product_info{
	display:none;
	color:white;
}
.product:hover .product_info{
	display: block;
	transition: 500ms;
}
.view_more{
	width:100%;
	padding:3% 0;
	margin:5% 0;
	background:#eeeeee;
	display:flex;
	align-items: center;
	justify-content: center;
}
.view_more a{
	text-decoration:none;
	color:#999999;
}
#quote_container{
	padding:5% 25%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#quote{
	text-align:center;
	margin-bottom:50px;
	line-height: 2;
	color:#555555;
}
.name{
	color:#999999;
}
#video_container{
	padding:0;
}
.video{
	width:100%;
	height:400px;
	background:url('jl.jpg') no-repeat 50% 5%;
}
.stats{
}
.stats_value{
	width:100%;
	font-size:50px;
}
.stats_name{
	margin:10px;
	width:100%;
	font-size:12px;
	color:#3696ff;
}
#slideshow{
	background:url('image.jpg') no-repeat 100% 100%;
	background-size:100% 100%;
	height:400px;
}
#team{
	display: block;
	padding:10%;
}
#team_members{
	margin:10% 0;
	padding:0;
}
.member{
	width:30%;
	height:500px;
}
.member_pic{
	background:url('default.jpg') no-repeat 0 0;
	background-size:100% 100%;
	width:100%;
	height:90%;
}
.member_name{
	margin-top:5%;
	width:100%;
	height:10%;
	text-align:center;
	color:#333333;
}
#designation{
	color:#dddddd;
}
#plans_container{
	background:#eeeeee;
	display:block;
}
#plans{
	padding:10% 0;
}
.plan{
	background: white;
	width:25%;
	padding:2%;
}
.plan:hover{
	box-shadow: 0px 0px 20px #cccccc;
	transition:500ms;
}
.plan_name{

}
.plan_value_container{
	width:96%;
	text-align:center;
	margin:10% 0;
	font-family:Arial;
}
.sup{
	font-size: 2em;
    display: inline;
    margin-top:-100%;
}
.plan_value{
	display:inline;
}
.value_number{
	font-size:5em;
}
.permonth{
	font-size:20px;
	color:#999999;
}
.specs_container,.choose_plan{
	text-align:center;
	color:#999999;
	padding:5%;
}
.specs{
	margin:10% 0;
}
.choose_plan{
	color:#333333;
	cursor:pointer;
}
#contactus{
	padding : 0%;
}
#contactus .left_container{
	padding:12% 12% 0 12%;
}
.contact_form{
	margin:20% 0;
}
input[type='text'],textarea{
	width:100%;
	border:3px solid transparent;
	border-bottom-color:black;
	border-radius:4px;
	padding:15px;
	margin:2% 0;
	font-size:15px;
}
textarea{
	height: 200px;
	color:#cccccc;
}
input:focus,textarea:focus{
	outline:none;
	color:black;
	border-bottom-color:gold;
}
input[type='submit']{
	padding:10px 100px;
	background: black;
	color:white;
	border:0;
	cursor:pointer;
}
input[type='submit']:hover{
	background: gold;
}
.map{
	background: url('map.jpg') no-repeat 0 0;
	background-size:auto 100%;
}
.footer{
	display: block;
	text-align: center;
	background: #333333;
}
.footer #logo{
	display:block;
	width:95%;
}
.footer #logo_image{
	width:5%;
	padding:3%;
	margin-bottom:5%;
	border-bottom:3px solid gold;
}
.footer span{
	display:block;
	margin:2%;
	color:#aaaaaa;
}
#company_name{
	background: #222222;
	padding:5%;
	color:#cccccc;
}